:root {
  --ratio: 1.5;
  --line-height: var(--ratio);
  --line-height-sm: calc(var(--ratio)*0.7);
  line-height: var(--ratio);
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --color-light: hsl(0, 0%, 100%);
  --color-dark: hsl(0, 0%, 0%);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--font-family);
  color: var(--color-dark);
  background-color: var(--color-light);
}

.invert {
  background-color: var(--color-dark);
  color: var(--color-light);
}

svg {
  fill: var(--color-dark);
}

.invert svg {
  fill: var(--color-light)
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

h1 {
  font-size: var(--s2);
  line-height: var(--line-height-sm);
}

h2 {
  font-size: var(--s1);
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-top: 0;
}

.cover > :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover > .cover-centered {
  margin-top: auto;
  margin-bottom: auto;
}

.cover > .cover-top {
  margin-top: var(--s2);
}

.switcher, .switcher1 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(( 25rem - 100%) * 999);
}


.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


.stack > *, stack-lg > *, stack-recursive > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-horiz > *, .stack-horiz-sm > * {
  margin-left: 0;
  margin-right: 0;
}

.stack-horiz, .stack-horiz-sm {
  display: flex;
}

.stack-horiz > * + * {
  margin-left: var(--s0);
}

.stack-horiz-sm > * + * {
  margin-left: var(--s-2);
}

.stack-recursive * + *, .stack > * + * {
  margin-top: var(--s0);
}

.stack-lg > * + * {
  margin-top: var(--s3);
}
