.flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.gap-md {
  gap: var(--s0);
}

.min-height-100vh {
  min-height: 100vh !important;
}

.padding-sm {
  padding: var(--s-1) !important;
}

.padding-md {
  padding: var(--s0) !important;
}

.width-100 {
  width: 100% !important;
}

.max-width-16rem {
  max-width: 16rem !important;
}

.max-height-16rem {
  max-height: 16rem !important;
}

.border-radius-100 {
  border-radius: 100% !important;
}

.object-position-top {
  object-position: top !important;
}

.object-fit-cover {
  object-fit: cover !important;
}

